:root {
  --main-bg-color: #121212;
  --teal: #3aa1bf;
  --light-teal: #83c5be;
  --turquoise: #56d9cd;
  --pink: #f2385a;
  --orange: #f5a503;
  --smoke: #f0efeb;
  --large-font: 1.5rem;
  --regular-font: 1.2rem;
  --large-size: 1.5rem;
  --regular-size: 1rem;
  --small-size: 0.5rem;
}

.App {
  text-align: center;
  background-color: var(--main-bg-color);
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

/*  Taboo Header  */
header {
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 5.5rem;
}
.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
  stroke: var(--pink);
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: var(--orange);
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
  stroke: var(--smoke);
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
  stroke: var(--turquoise);
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
  stroke: var(--teal);
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
 }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
 }
}

main {
  display: grid;
  place-items: center;
  grid-template-rows: 7fr 5fr;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*  Taboo Cards  */
.card-display-container {
  display: flex;
}
.card-container {
  display: grid;
  background-color: var(--smoke);
  height: 400px;
  width: 280px;
  border-radius: 3%;
  overflow: hidden;
  grid-auto-rows: 1fr 4fr;
}
.card-title {
  font-size: var(--large-font);
  font-weight: 500;
  padding: var(--regular-size);
  background-color: var(--light-teal);
  display: grid;
  place-items: center; 
}
.card-subtitles {
  display: grid;
  place-items: center;
  padding: 1.5rem var(--regular-size);
  font-size: var(--regular-font); 
}

.next-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  padding: var(--large-size);
  font-size: 4rem;
  font-weight: bold;
  color: var(--smoke);
  cursor: pointer;
}
.next-button:hover {
  color: var(--light-teal);
}

/*  GameTimer.js  */
.timer-container {
  padding: var;
  width: 280px;
  border: 1px solid var(--light-teal);
  margin: var(--regular-size);
  border-radius: 3%;
}
.timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--small-size) 0;
}
.timer-digit {
  padding: var(--small-size);
  font-size: var(--large-font);
  color: var(--smoke);
  font-weight: 500;
  font-family: inherit;
}
.timer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--small-size) 0;
} 
.timer-control {
  background-color: var(--light-teal);
  border-radius: 50%;
  padding: var(--small-size);
  margin: var(--small-size);
}
.timer-control:hover {
  background-color: var(--smoke);
  transition: 0.7s;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .App { 
    grid-template-rows: 1fr 5fr;
    height: 100vh;
  }
  header svg {
    height: 120px;
  }
  .card-display-container {
    margin: 0;
  }
  header {
    font-size: 4.5rem;
  }
  main {
    grid-template-rows: 5fr 3fr;
  }
  .card-container {
    height: 45vh;
    width: 55vw;
  }
  .card-title {
    padding: 0.5rem;
    font-size: 1.3rem;
  }
  .card-subtitles {
    font-size: 1.1rem; 
  }
  .next-button{
    padding: 0;
    font-size: 3rem;
  }
  .timer-container {
    width: 55vw;
    padding: var(--small-size) 0;
  }
  .timer-control {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  header {
    font-size: 3.5rem;
  }
  .card-title {
    font-size: 1.2rem;
  }
  .card-subtitles {
    font-size: 1rem; 
  }
  .timer-display {
    margin: 0;
  }
  .timer-digit {
    font-size: 1.3rem;
  }  
  .timer-controls {
    padding: 0;
    margin: 0 var(--small-size);
  }
  .timer-control {
    margin: 0.5rem;
    padding: 0.4rem;
  }
}