.App {
  text-align: center;
  background-color: #333333;
  height: 100vh;
  display: grid;
  place-items: center;
}

.card-container {
  display: grid;
  background-color: #f0efeb;
  height: 350px;
  width: 250px;
  border-radius: 5%;
  overflow: hidden;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  background-color: #83c5be;
  display: grid;
  place-items: center; 
}

.card-subtitle {
  font-size: 1.1rem;
  padding: 1rem; 
}