:root {
  --main-bg-color: #121212;
  --secondary-bg-color: #303030;
  --dark: #121212;
  --mid-grey: #303030;
  --teal: #3aa1bf;
  --light-teal: #83c5be;
  --turquoise: #56d9cd;
  --pink: #f2385a;
  --orange: #f5a503;
  --smoke: #f0efeb;
  --large-font: 1.5rem;
  --regular-font: 1.2rem;
  --large-size: 1.5rem;
  --regular-size: 1rem;
  --small-size: 0.5rem;
}

.App {
  text-align: center;
  background-color: var(--main-bg-color);
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 0fr 1.5fr 5fr;
}

main {
  display: grid;
  place-items: center;
  grid-template-rows: 7fr 5fr;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.secondary-dark-bg {
  background-color: var(--secondary-bg-color);
}

/* Menu Button */
.menu-button-container {
  width: 100%;
  height: 20%;
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 0;
  background: transparent;
  border-radius: 0;
}

.menu-button {
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  touch-action: manipulation;
  padding: 30px;

}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: var(--smoke);
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

/*  Header  */
.header-container {
  display: grid;
  place-items: center;
}

.header {
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 5.5rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 150px;
}

.logo-container svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
  stroke: var(--pink);
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: var(--orange);
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
  stroke: var(--smoke);
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
  stroke: var(--turquoise);
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
  stroke: var(--teal);
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
 }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
 }
}

/*  Home  */
.home-container {
  display: grid;
  place-items: center;
  color: var(--smoke);
  width: 500px;
  padding: var(--large-size);  
  border-radius: 2%;
}

.home-container .title {
  font-weight: bold;
  font-size: var(--large-font);
  color: var(--orange); 
}

.home-container .description {
  padding: var(--small-size);
  font-size: var(--regular-font); 
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--regular-size);
}

.button {
  color: var(--orange);
  font-weight: bold;
  border: 1px solid var(--orange);
  padding: var(--small-size);
  margin: var(--small-size);
  border-radius: 3%;
  width: 110px;
  cursor: pointer;
}

.button:hover {
  color: var(--dark);
  background-color: var(--orange);
  transition: all 0.3s ease 0s;
}

/*  Taboo Cards  */
.card-display-container {
  display: flex;
  justify-content: center;
}

.card-container {
  border-radius: 3%;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  height: 400px;
  width: 280px;
}
.card .card-content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s cubic-bezier(0.75, 0, 0.85, 1);
}

.more {
  display: none;
}
.more:checked ~ .card-content {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.card-front .inner, .card-back .inner {
  height: 100%;
  transform: translateZ(1px) scale(1);
}
.card-front .inner {
  display: grid;
  grid-template-rows: 1fr 4fr;
  background-color: var(--smoke);
}
.card-front:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  backface-visibility: hidden;
}  

.card-back {
  transform: rotateY(180deg);
  background-color: var(--mid-grey);
  color: var(--smoke);
}
.card-back .inner {
  display: grid;
  grid-template-rows: 1fr 6fr;
}
.card-back .inner .title {
  display: grid;
  place-items: center;
}
.card-back .inner .title-text {
  position: relative;
  font-size: var(--large-font);
  padding: var(--regular-size);
  font-weight: bold;
  display: grid;
}
.card-back .inner .instructions {
  display: grid;
  text-align: left;
  padding: var(--regular-size)
}
.card-back .inner .instructions ul {
  padding-inline-start: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
}
li  {
  margin: var(--small-size) 0;
}
li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--orange)
}

.card-title {
  font-size: var(--large-font);
  font-weight: 500;
  padding: var(--regular-size);
  background-color: var(--light-teal);
  display: grid;
  place-items: center;
  transform: translateZ(80px) scale(1);
}

.card-subtitles {
  display: grid;
  place-items: center;
  padding: 1.5rem var(--regular-size);
  font-size: var(--regular-font);
}

.card-button-container {
  width: 50px;
  padding: var(--small-size) var(--large-size);
  display: grid;
  grid-template-rows: 1fr 10fr;  
}

.info {
  font-size: 0.8rem;
  height: 20px;
  width: 20px;
  color: var(--smoke);
  cursor: pointer;
  text-align: center;
  background-color: var(--dark);
  border-radius: 50%;
  border: 1px solid var(--smoke);
}

.next-button-container {
  display: grid;
  place-items: center;
}
.next-button {  
  font-size: 4rem;
  font-weight: bold;
  color: var(--smoke);
  cursor: pointer;
  text-align: center;
  cursor: pointer;
}
.next-button:hover {
  color: var(--light-teal);
}

/*  GameTimer.js  */
.timer-container {
  padding: var;
  width: 280px;
  border: 1px solid var(--light-teal);
  margin: var(--regular-size);
  border-radius: 3%;
}

.timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--small-size) 0;
}
.timer-digit {
  padding: var(--small-size);
  font-size: var(--large-font);
  color: var(--smoke);
  font-weight: 500;
  font-family: inherit;
}

.timer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--small-size) 0;
} 
.timer-control {
  background-color: var(--light-teal);
  border-radius: 50%;
  padding: var(--small-size);
  margin: var(--small-size);
}
.timer-control:hover {
  background-color: var(--smoke);
  transition: 0.7s;
  cursor: pointer;
}



@media only screen and (max-width: 768px) {
  .App { 
    grid-template-rows: 0.5fr 1fr 8fr 0.5fr;
    height: 100vh;
    width: 100vw;
  }
  .header, .menu-button-container {
    height: 15vh;
    width: 100vw;
  }
  .logo-container {
    width: 100%;
    height: 100%;
  }
  .menu-button {
    padding: 20px;
    width: 25px;
  }
  main {
    grid-template-rows: 2fr 1fr;
  }
  .home-container {
    width: 350px;
  }

  .home-container .description{
    font-size: var(--regular-font);
  }
  .card-button-container {
    padding: 20px;
    width: 20px;
  }
  .games-container {
    grid-template-columns: 1fr;
    width: 300px;
  }
  .next-button{
    padding: 0;
    font-size: 3rem;
  }
  .timer-container {
    width: 55vw;
    padding: var(--small-size) 0;
  }
  .timer-control {
    padding: 0.5rem;
  }
}

